.vscode/**
.vscode-test/**
artworks/**
crates/**
out/**
node_modules/**
src/**
target/**
.gitignore
.yarnrc
Cargo.toml
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.rs